<h2 mat-dialog-title>Réserver une chambre</h2> 
<!-- 
<mat-dialog-content>
  <form [formGroup]="reservationForm" class="space-y-4">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Client</mat-label>
      <mat-select formControlName="clientId">
        <mat-option *ngFor="let client of clients" [value]="client.id">
          {{ client.nom }} {{ client.prenom }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Chambre libre</mat-label>
      <mat-select formControlName="chambreId">
        <mat-option *ngFor="let chambre of chambresLibres" [value]="chambre.id">
          Chambre {{ chambre.numero }} - {{ chambre.type }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Date d'arrivée</mat-label>
      <input matInput type="date" formControlName="dateDebut">
    </mat-form-field>

    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Date de départ</mat-label>
      <input matInput type="date" formControlName="dateFin">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-raised-button color="primary" (click)="confirmer()">Confirmer</button>
</mat-dialog-actions>
-->